.App {
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  width: 300px;
  margin: 10px;
  padding: 5px;

  border: 2px solid black;
  border-radius: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(124, 124, 237);
  font-size: 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
